@import "../../../styles.scss";

.home {
  text-align: center;

  .image-container {
    position: relative;
    background-color: $darker;

    img {
      width: 100%;
      filter: brightness(0.5);
      transition: filter 0.3s;
    }

    .text-overlay {
      position: absolute;
      top: 35%;
      left: 23%;
      transform: translate(-50%, -50%);
      color: $white;
      padding: 10px;

      h1,
      p {
        margin: 0;
        font-family: $heading;
      }
      h1 {
        font-size: 3rem;
        letter-spacing: 4px;
        padding-bottom: 20px;
      }
      p {
        font-size: 1.2rem;
        position: relative;
        text-decoration: none;
        letter-spacing: 4px;

        #roleText::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -20px;
          width: 100%;
          border-bottom: 2px solid $blue;
        }
      }
    }
  }

  .blinking-cursor {
    animation: blink 1s infinite; 
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 315px) and (max-width: 576px) {
  .home {
    .image-container {
      .text-overlay {
        top: 50%;
        left: 30%;
        line-height: 0px;
        h1 {
          font-size: 1.2rem;
          letter-spacing: 1px;
        }
        p {
          font-size: 0.5rem;
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 576px) and (max-width: 768px) {
  .image-container {
    .text-overlay {
      top: 50% !important;
      left: 32% !important;
      line-height: 0px;
      h1 {
        font-size: 1.9rem !important;
        letter-spacing: 1px !important;
      }
      p {
        font-size: 0.6rem;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 769px) and (max-width: 992px) {
  .home{
    .image-container{
      .text-overlay{
        top: 50%;
        left: 30%;
        h1{
          font-size: 2.5rem;
        }
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width:993px) and (max-width: 1200px) {
  .home{
    .image-container{
      .text-overlay{
        top: 40%;
        left: 28%;
      }
    }
  }
}

