@import "../../../styles.scss";

.example-container {
  width: 100vw;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  background-color: $white;
  .menu-btn {
    float: right;
    margin-top: 5px;
  }
  #about {
    background-color: $white;
  }
}

.example-sidenav {
  background-color: $darker;
  padding: 20px;
  width: 20%;
  .profile {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100px;
      border: 8px solid $lighter;
      border-radius: 50%;
      margin-bottom: 5%;
    }
    .sub-heading {
      color: $white;
      font-family: $heading;
      font-size: 20px;
      text-align: center;
      margin-bottom: 10%;
    }
    .social-icons {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 5%;
      .icons {
        font-size: 15px;
        background-color: $lighter;
        padding: 11px;
        border-radius: 50%;
        color: $white;
        transition: background-color 0.3s;
        &:hover {
          cursor: pointer;
          background-color: $light;
        }
      }
    }
  }
  .navigation-menu {
    .all-menus {
      .menu {
        list-style: none;
        color: $lighter-text;
        padding: 15px 0px;
        font-size: 17px;
        font-family: $heading;
        font-weight: 400;
        margin-left: -7%;
        line-height: 2;
        &:active {
          color: $white;
          span {
            i {
              color: $light;
            }
          }
        }
        span {
          margin-right: 15%;
          i {
            font-size: 15px;
            color: $white;
          }
          transition: color 0.3s;
        }
        &:hover {
          cursor: pointer;
          color: $white;
          span {
            i {
              color: $light;
            }
          }
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 315px) and (max-width: 576px) {
  .example-sidenav-content {
    .menu-btn {
      // background-color: white;
      z-index: 9;
      display: block;
      margin-top: auto;
      mat-icon {
        margin: 0;
        font-size: 180%;
        position: fixed;
        top: 5px;
        color: $grey;
      }
    }
  }
  .example-sidenav {
    width: 35%;
    padding: 0;
    .profile {
      .image {
        width: 80px;
        border-width: 5px;
      }
      .sub-heading {
        font-size: 15px;
      }
      .social-icons {
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        i {
          font-size: 10px;
        }
      }
    }
    .navigation-menu {
      .all-menus {
        .menu {
          padding: 8px 0;
          font-size: 9px;
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 576px) and (max-width: 768px) {
  .example-sidenav-content {
    .menu-btn {
      // background-color: white;
      z-index: 9;
      display: block;
      margin-top: auto;
      mat-icon {
        margin: 0;
        font-size: 180%;
        position: fixed;
        top: 5px;
        color: $grey;
      }
    }
  }
  .example-sidenav {
    width: 30%;
    padding: 0;
    .profile {
      .image {
        width: 85px;
        border-width: 7px;
      }
      .sub-heading {
        font-size: 18px;
        margin-bottom: 15%;
      }
      .social-icons {
        i {
          margin: 0px 5px;
        }
      }
    }
    .navigation-menu {
      .all-menus {
        .menu {
          padding: 8px 0;
          font-size: 15px;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 769px) and (max-width: 992px) {
  .example-sidenav-content{
    .menu-btn {
      // background-color: white;
      z-index: 9;
      display: block;
      margin-top: auto;
      mat-icon {
        margin: 0;
        font-size: 180%;
        position: fixed;
        top: 5px;
        color: $grey;
      }
    }
  }
  .example-sidenav{
    width: 30%;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 993px) and (max-width: 1200px) {
  .example-sidenav{
    width: 25%;
  }
}
