<div class="experence">
    <h2>Experence</h2>
    <p>I'm a motivated engineering graduate passionate about front-end
        development. At Revature, I specialize in HTML, CSS, SCSS, TypeScript,
        Angular, Git, and GraphQL. I thrive in an agile development environment,
        collaborating effectively to deliver high-quality software on tight
        deadlines. My goal is to further advance as a front-end developer,
        utilizing my skills in HTML, CSS, TypeScript, Angular, Git, and GraphQL.
        I enjoy creating visually appealing, user-friendly web interfaces while
        staying updated on front-end trends and agile methodologies.
    </p>
    <div class="main">
        <div class="proexp" *ngFor="let experience of jobExperiences">
            <p>
                <span>{{ experience.company }}</span> <span>{{
                    experience.location }}</span>
            </p>
            <h3><span>{{ experience.title }}</span> <span>{{ experience.date }}</span></h3>
            <p>{{ experience.description }}</p>
            <h5>Project: {{ experience.project }}</h5>
            <ul>
                <li *ngFor="let responsibility of experience.responsibilities">
                    {{ responsibility }}
                </li>
                <li>
                    <span>Technologies: {{experience.technologies}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>